@use '@angular/material' as mat;
@use './theme' as theme;

@include mat.core();

:root {
  @include mat.theme(theme.$dark-theme);
  
  // Component overrides
  @include mat.button-overrides((
    filled-container-shape: 8px,
    outlined-container-shape: 8px,
  ));
}

// Toolbar override
mat-toolbar {
  background-color: rgba(51, 48, 45, 0.95) !important;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background: #0d0c0b;
}

html, body {
  height: 100%;
}